# Pandas notes
    some nots of bao yun
    import a csv file of relative clause sentences from a self paced reading task
    calculate the average times of the critical and spillover regions of oblique relative clauses
    example of oblique
        Ichiro-wa [Koji-ga tomatta hotel]-o yoyakusita.
        Ichiro reserved [the hotel in which Koji stayed].
    in Japanese, it has been argued that subject, object, and oblique relatives are all processed similarly by L1 speakers. let's examine if L2 learners of Japanese (L1 Chinese and L1 Korean) show any slowdown in processing.
    to do this, we will examine the average reading times of region 2 (where the second subject appears), region 3 (where the oblique is), and region 4 (the object of the oblique).

In [3]:
#import pandas as pd
import pandas as pd

#import the csv file
#this is the csv file of relative clauses
rc = pd.read_csv("RelativeClauses.csv", index_col = 0)

print(rc[:10])

          Subject  Region    Word  Time  Sentence Case  Order  Reflexive  \
L1
Japanese        1       1     ???   464        49    R     23  Simple S1
Japanese        1       2     ???   389        49    R     23  Simple S1
Japanese        1       3  ??????   409        49    R     23  Simple S1
Japanese        1       4     ???   378        49    R     23  Simple S1
Japanese        1       5       ?   650        49    R     23  Simple S1
Japanese        1       6      TF   764        49    R     23  Simple S1
Japanese        2       1     ???   425        49    R     26  Simple S1
Japanese        2       2     ???   369        49    R     26  Simple S1
Japanese        2       3  ??????   767        49    R     26  Simple S1
Japanese        2       4     ???   288        49    R     26  Simple S1

         Predicate  Binding
L1
Japanese    Simple    False
Japanese    Simple    False
Japanese    Simple    False
Japanese    Simple    False
Japanese    Simple    False
Japanese    Simple    False
Japanese    Simple    False
Japanese    Simple    False
Japanese    Simple    False
Japanese    Simple    False

### This is a csv file from a self paced reading task in Japanese.
    The sentences are comparing between simple clauses and relative clauses.
    The L1s are L1 Japanese and L1 Chinese and L1 Korean learners of L2 Japanese.
    All subjects are marked by numeral 1-n
    The regions indicate the phrase number.
    When we originally imported the file from LINGER to Excel, something got messed up and all the MS Mincho Japanese font did not carry over (we tried UTF-8 when convering to csv but it still didn't work). But that's not as important.
    We are going to look at whether there are differences in the critical regions of oblique relative clauses.
    Thus, the colums of interest are:
        L1, Region, Time, and Predicate
    The rows of interest are only 
        Region 2, 3, 4
    This is where some of the weird things may happen for L2 learners.

    Next, we should print out and see some of the info of the columns of interest.
    add index_col = 0 at the end of the file name to tel lpython that there is a real row.

In [5]:
print(rc[['Region', 'Time', 'Predicate']])

          Region  Time Predicate
L1
Japanese       1   464    Simple
Japanese       2   389    Simple
Japanese       3   409    Simple
Japanese       4   378    Simple
Japanese       5   650    Simple
Japanese       6   764    Simple
Japanese       1   425    Simple
Japanese       2   369    Simple
Japanese       3   767    Simple
Japanese       4   288    Simple
Japanese       5   239    Simple
Japanese       6  1146    Simple
Japanese       1   353    Simple
Japanese       2   276    Simple
Japanese       3   246    Simple
Japanese       4   524    Simple
Japanese       5   286    Simple
Japanese       6   891    Simple
Japanese       1   473    Simple
Japanese       2   416    Simple
Japanese       3   624    Simple
Japanese       4   316    Simple
Japanese       5   246    Simple
Japanese       6   563    Simple
Japanese       1   591    Simple
Japanese       2   474    Simple
Japanese       3   663    Simple
Japanese       4   325    Simple
Japanese       5   306    Simple
Japanese       6  1447    Simple
...          ...   ...       ...
Chinese        6   363   Oblique
Chinese        7   739   Oblique
Chinese        1   524   Oblique
Chinese        2  1207   Oblique
Chinese        3  4735   Oblique
Chinese        4   577   Oblique
Chinese        5  1027   Oblique
Chinese        6  4665   Oblique
Chinese        7  2725   Oblique
Chinese        1   670   Oblique
Chinese        2  1309   Oblique
Chinese        3  4170   Oblique
Chinese        4   684   Oblique
Chinese        5  1557   Oblique
Chinese        6  1796   Oblique
Chinese        7  1149   Oblique
Chinese        1   482   Oblique
Chinese        2   673   Oblique
Chinese        3  1458   Oblique
Chinese        4   891   Oblique
Chinese        5   554   Oblique
Chinese        6   594   Oblique
Chinese        7  1238   Oblique
Chinese        1   427   Oblique
Chinese        2   699   Oblique
Chinese        3  4853   Oblique
Chinese        4   559   Oblique
Chinese        5   980   Oblique
Chinese        6   389   Oblique
Chinese        7  1261   Oblique

[3724 rows x 3 columns]

### next steps to trim down data of interest
    As we can see there are 3723 rows of data, but since there are only 3 rows of interest for each sentence, this will essentially trim down to 3723/3 = 1241 data points of interest.

    Mind you that if we included Subject and Object relative clauses this would be triple, which is why I am only looking at Subject for now.

    Print out a subset data frame that includes only the regions of interest (2, 3, and 4)

In [6]:
rcob = rc[rc.Predicate == 'Oblique']
print(rcob)

          Subject  Region   Word  Time  Sentence Case  Order    Reflexive  \
L1
Japanese        1       1    ???   454        58    R      8  Relative B1
Japanese        1       2    ???   339        58    R      8  Relative B1
Japanese        1       3   ????   349        58    R      8  Relative B1
Japanese        1       4   ????   369        58    R      8  Relative B1
Japanese        1       5   ????   599        58    R      8  Relative B1
Japanese        1       6      ?   609        58    R      8  Relative B1
Japanese        1       7     TF   885        58    R      8  Relative B1
Japanese        2       1    ???   636        58    R     25  Relative B1
Japanese        2       2    ???   549        58    R     25  Relative B1
Japanese        2       3   ????   758        58    R     25  Relative B1
Japanese        2       4   ????   477        58    R     25  Relative B1
Japanese        2       5   ????   719        58    R     25  Relative B1
Japanese        2       6      ?   458        58    R     25  Relative B1
Japanese        2       7     TF  1277        58    R     25  Relative B1
Japanese        3       1    ???   412        58    R     10  Relative B1
Japanese        3       2    ???   386        58    R     10  Relative B1
Japanese        3       3   ????   304        58    R     10  Relative B1
Japanese        3       4   ????   534        58    R     10  Relative B1
Japanese        3       5   ????   355        58    R     10  Relative B1
Japanese        3       6      ?   386        58    R     10  Relative B1
Japanese        3       7     TF  2916        58    R     10  Relative B1
Japanese        4       1    ???   561        58    R     58  Relative B1
Japanese        4       2    ???   715        58    R     58  Relative B1
Japanese        4       3   ????   356        58    R     58  Relative B1
Japanese        4       4   ????   386        58    R     58  Relative B1
Japanese        4       5   ????   376        58    R     58  Relative B1
Japanese        4       6      ?   336        58    R     58  Relative B1
Japanese        4       7     TF   782        58    R     58  Relative B1
Japanese        5       1    ???   412        58    R     55  Relative B1
Japanese        5       2    ???   414        58    R     55  Relative B1
...           ...     ...    ...   ...       ...  ...    ...          ...
Chinese       211       6      ?   363        60    R     23  Relative B2
Chinese       211       7     TF   739        60    R     23  Relative B2
Chinese       212       1    ???   524        60    R      3  Relative B2
Chinese       212       2    ???  1207        60    R      3  Relative B2
Chinese       212       3  ?????  4735        60    R      3  Relative B2
Chinese       212       4    ???   577        60    R      3  Relative B2
Chinese       212       5    ???  1027        60    R      3  Relative B2
Chinese       212       6      ?  4665        60    R      3  Relative B2
Chinese       212       7     TF  2725        60    R      3  Relative B2
Chinese       213       1    ???   670        60    R     46  Relative B2
Chinese       213       2    ???  1309        60    R     46  Relative B2
Chinese       213       3  ?????  4170        60    R     46  Relative B2
Chinese       213       4    ???   684        60    R     46  Relative B2
Chinese       213       5    ???  1557        60    R     46  Relative B2
Chinese       213       6      ?  1796        60    R     46  Relative B2
Chinese       213       7     TF  1149        60    R     46  Relative B2
Chinese       214       1    ???   482        60    R     37  Relative B2
Chinese       214       2    ???   673        60    R     37  Relative B2
Chinese       214       3  ?????  1458        60    R     37  Relative B2
Chinese       214       4    ???   891        60    R     37  Relative B2
Chinese       214       5    ???   554        60    R     37  Relative B2
Chinese       214       6      ?   594        60    R     37  Relative B2
Chinese       214       7     TF  1238        60    R     37  Relative B2
Chinese       215       1    ???   427        60    R     21  Relative B2
Chinese       215       2    ???   699        60    R     21  Relative B2
Chinese       215       3  ?????  4853        60    R     21  Relative B2
Chinese       215       4    ???   559        60    R     21  Relative B2
Chinese       215       5    ???   980        60    R     21  Relative B2
Chinese       215       6      ?   389        60    R     21  Relative B2
Chinese       215       7     TF  1261        60    R     21  Relative B2

         Predicate  Binding
L1
Japanese   Oblique     True
Japanese   Oblique     True
Japanese   Oblique     True
Japanese   Oblique     True
Japanese   Oblique     True
Japanese   Oblique     True
Japanese   Oblique     True
Japanese   Oblique     True
Japanese   Oblique     True
Japanese   Oblique     True
Japanese   Oblique     True
Japanese   Oblique     True
Japanese   Oblique     True
Japanese   Oblique     True
Japanese   Oblique     True
Japanese   Oblique     True
Japanese   Oblique     True
Japanese   Oblique     True
Japanese   Oblique     True
Japanese   Oblique     True
Japanese   Oblique     True
Japanese   Oblique     True
Japanese   Oblique     True
Japanese   Oblique     True
Japanese   Oblique     True
Japanese   Oblique     True
Japanese   Oblique     True
Japanese   Oblique     True
Japanese   Oblique     True
Japanese   Oblique     True
...            ...      ...
Chinese    Oblique    False
Chinese    Oblique    False
Chinese    Oblique    False
Chinese    Oblique    False
Chinese    Oblique    False
Chinese    Oblique    False
Chinese    Oblique    False
Chinese    Oblique    False
Chinese    Oblique    False
Chinese    Oblique    False
Chinese    Oblique    False
Chinese    Oblique    False
Chinese    Oblique    False
Chinese    Oblique    False
Chinese    Oblique    False
Chinese    Oblique    False
Chinese    Oblique    False
Chinese    Oblique    False
Chinese    Oblique    False
Chinese    Oblique    False
Chinese    Oblique    False
Chinese    Oblique    False
Chinese    Oblique    False
Chinese    Oblique    False
Chinese    Oblique    False
Chinese    Oblique    False
Chinese    Oblique    False
Chinese    Oblique    False
Chinese    Oblique    False
Chinese    Oblique    False

[686 rows x 10 columns]

### next trim the data furthe down to just show regions 2, 3, and 4 in the data frame
    so apparently i don't think i can remove a bunch of rows at once, unless i am doing something wrong (i.e., i can do rcob.Region != 1, but cannot do 1, 5, 6 etc.
    thus, the following removes Regions 1, 5, 6, and 7 separately through != codes, and then prints out regions 234 only, as shown
    don't forget [[]] to show only the columns of interest
    ^actually just save it as a code

In [7]:
rcob1 = rcob[rcob.Region != 1]
rcob5 = rcob1[rcob1.Region != 5]
rcob6 = rcob5[rcob5.Region != 6]
rcob7 = rcob6[rcob6.Region != 7]
rcob234 = rcob7[['Region', 'Time', 'Reflexive']]
print(rcob234)

          Region  Time    Reflexive
L1
Japanese       2   339  Relative B1
Japanese       3   349  Relative B1
Japanese       4   369  Relative B1
Japanese       2   549  Relative B1
Japanese       3   758  Relative B1
Japanese       4   477  Relative B1
Japanese       2   386  Relative B1
Japanese       3   304  Relative B1
Japanese       4   534  Relative B1
Japanese       2   715  Relative B1
Japanese       3   356  Relative B1
Japanese       4   386  Relative B1
Japanese       2   414  Relative B1
Japanese       3   475  Relative B1
Japanese       4   355  Relative B1
Japanese       2   438  Relative B1
Japanese       3   438  Relative B1
Japanese       4   378  Relative B1
Japanese       2   565  Relative B1
Japanese       3   497  Relative B1
Japanese       4   383  Relative B1
Japanese       2   487  Relative B1
Japanese       3   496  Relative B1
Japanese       4   457  Relative B1
Japanese       2   388  Relative B1
Japanese       3   389  Relative B1
Japanese       4   358  Relative B1
Japanese       2   435  Relative B1
Japanese       3   435  Relative B1
Japanese       4   405  Relative B1
...          ...   ...          ...
Chinese        2   806  Relative B2
Chinese        3  1235  Relative B2
Chinese        4   367  Relative B2
Chinese        2  1193  Relative B2
Chinese        3  1641  Relative B2
Chinese        4   426  Relative B2
Chinese        2   428  Relative B2
Chinese        3   658  Relative B2
Chinese        4   358  Relative B2
Chinese        2   511  Relative B2
Chinese        3   915  Relative B2
Chinese        4  1018  Relative B2
Chinese        2  1562  Relative B2
Chinese        3  1134  Relative B2
Chinese        4  1106  Relative B2
Chinese        2   275  Relative B2
Chinese        3   753  Relative B2
Chinese        4   520  Relative B2
Chinese        2  1207  Relative B2
Chinese        3  4735  Relative B2
Chinese        4   577  Relative B2
Chinese        2  1309  Relative B2
Chinese        3  4170  Relative B2
Chinese        4   684  Relative B2
Chinese        2   673  Relative B2
Chinese        3  1458  Relative B2
Chinese        4   891  Relative B2
Chinese        2   699  Relative B2
Chinese        3  4853  Relative B2
Chinese        4   559  Relative B2

[294 rows x 3 columns]

In [11]:
print(rcob.loc[['Japanese', 'Korean', 'Chinese'], ['Region', 'Time', 'Reflexive']])

          Region  Time    Reflexive
L1
Japanese       1   454  Relative B1
Japanese       2   339  Relative B1
Japanese       3   349  Relative B1
Japanese       4   369  Relative B1
Japanese       5   599  Relative B1
Japanese       6   609  Relative B1
Japanese       7   885  Relative B1
Japanese       1   636  Relative B1
Japanese       2   549  Relative B1
Japanese       3   758  Relative B1
Japanese       4   477  Relative B1
Japanese       5   719  Relative B1
Japanese       6   458  Relative B1
Japanese       7  1277  Relative B1
Japanese       1   412  Relative B1
Japanese       2   386  Relative B1
Japanese       3   304  Relative B1
Japanese       4   534  Relative B1
Japanese       5   355  Relative B1
Japanese       6   386  Relative B1
Japanese       7  2916  Relative B1
Japanese       1   561  Relative B1
Japanese       2   715  Relative B1
Japanese       3   356  Relative B1
Japanese       4   386  Relative B1
Japanese       5   376  Relative B1
Japanese       6   336  Relative B1
Japanese       7   782  Relative B1
Japanese       1   412  Relative B1
Japanese       2   414  Relative B1
...          ...   ...          ...
Chinese        6   363  Relative B2
Chinese        7   739  Relative B2
Chinese        1   524  Relative B2
Chinese        2  1207  Relative B2
Chinese        3  4735  Relative B2
Chinese        4   577  Relative B2
Chinese        5  1027  Relative B2
Chinese        6  4665  Relative B2
Chinese        7  2725  Relative B2
Chinese        1   670  Relative B2
Chinese        2  1309  Relative B2
Chinese        3  4170  Relative B2
Chinese        4   684  Relative B2
Chinese        5  1557  Relative B2
Chinese        6  1796  Relative B2
Chinese        7  1149  Relative B2
Chinese        1   482  Relative B2
Chinese        2   673  Relative B2
Chinese        3  1458  Relative B2
Chinese        4   891  Relative B2
Chinese        5   554  Relative B2
Chinese        6   594  Relative B2
Chinese        7  1238  Relative B2
Chinese        1   427  Relative B2
Chinese        2   699  Relative B2
Chinese        3  4853  Relative B2
Chinese        4   559  Relative B2
Chinese        5   980  Relative B2
Chinese        6   389  Relative B2
Chinese        7  1261  Relative B2

[686 rows x 3 columns]

##### made some changes to the code, but i'm still not sure how to get only regions 2, 3, and 4.
#####ask during meeting

#####this won't work anymore because i made changes to the original code (by adding index)

next, find the average reading times of regions 2, 3, and 4
separate the L1s
the code for this is

means = rcob234.groupby('L1', as_index=False)['Time'].mean()
print(means)

***note = but this will only print out the total average tiimes
not sure how to print out 2, 3, and 4 separately
To use loc or iloc, we may need to index L1s, but there should be a way to do it w/o it?

at least there is a way to do it as below.
This shows some results, maybe not as clean as it can be (I am looking for a way to do it where it also shows Japanese)

Would be interested in using loc/iloc instead of writing out all this code...TBC.

In [8]:
Jrcob = rcob234[rcob234.L1 == 'Japanese']
Krcob = rcob234[rcob234.L1 == 'Korean']
Crcob = rcob234[rcob234.L1 == 'Chinese']

Jrcob_meanRT = Jrcob.groupby(['Region'], as_index=False).mean()
print(Jrcob_meanRT)

Krcob_meanRT = Krcob.groupby(['Region'], as_index=False).mean()
print(Krcob_meanRT)

Crcob_meanRT = Crcob.groupby(['Region'], as_index=False).mean()
print(Crcob_meanRT)

AttributeError: 'DataFrame' object has no attribute 'L1'

The results from this task shows that L1 Japanese do not show any increase in reading time at the critical regiion 3 where there would be ambiguity

However, the results from both L1 Korean and L1 Chinese learners of L2 Japanese show taht there is substantial (probably significant) increased reading times at the critical region (where the oblique relative occurs), which indicates they have processing difficulties in parsing oblique relative clauses.

#todo 4
- continuation of todo3.
- looking into someone else's csv files
- importing Alan's csv file

In [3]:
import pandas as pd
aj = pd.read_csv("Pandas_Juffs_CSV.csv", index_col = 0)
#first view the first twenty entries of aj to see the file, use.type to view the type if necessary
aj.head(20)

            L1  Listening  MTELP  Writing
DB ID
71     chinese       10.0   56.0      NaN
118    chinese       23.0   61.0      NaN
270    chinese       12.0   35.0      1.5
298    chinese       16.0   57.0      4.0
299    chinese       10.0   42.0      3.3
447    chinese       21.0   55.0      3.2
201    chinese       22.0   66.0      NaN
278    chinese       25.0   69.0      NaN
396    chinese       23.0   77.0      3.8
441    chinese       21.0   62.0      3.5
453    chinese       23.0   63.0      2.8
491    chinese       23.0   71.0      3.3
492    chinese       17.0   58.0      3.8
634    chinese       21.0   59.0      3.5
813    chinese       27.0   65.0      3.5
967    chinese       26.0   67.0      4.3
971    chinese       26.0   60.0      3.6
975    chinese       12.0   62.0      4.3
998    chinese       21.0   63.0      3.3
1187   chinese       24.0   60.0      3.5

so this appears to be proficiency scores from English speakers
next view what kind of L1 backgrounds there are

In [4]:
print(aj['L1'])

DB ID
71      chinese
118     chinese
270     chinese
298     chinese
299     chinese
447     chinese
201     chinese
278     chinese
396     chinese
441     chinese
453     chinese
491     chinese
492     chinese
634     chinese
813     chinese
967     chinese
971     chinese
975     chinese
998     chinese
1187    chinese
1199    chinese
306      korean
307      korean
371      korean
379      korean
380      korean
433      korean
444      korean
445      korean
488      korean
         ...
159      arabic
163      arabic
172      arabic
310      arabic
352      arabic
407      arabic
716      arabic
756      arabic
825      arabic
893      arabic
949      arabic
953      arabic
1151     arabic
1051     arabic
1060     arabic
1062     arabic
1068     arabic
1077     arabic
1152     arabic
1158     arabic
1166     arabic
279      arabic
338      arabic
638      arabic
838      arabic
839      arabic
906      arabic
1005     arabic
1019     arabic
1168     arabic
Name: L1, Length: 71, dtype: object

This is probably super basic but I can't figure out how to just view the entries in L1. This does not tell us if there are more than Chinese Korean or Arabic L1s
Next we can also filter some data, for example, if we only want participants who have data for the listening, MTELP, and writing scores, we can select columns without NaNs.
use the dropna to remove all data with NaNs. This will trim the data to our liking.

In [6]:
ajnoNaN = aj.dropna(how='any')
ajnoNaN.head(20)

            L1  Listening  MTELP  Writing
DB ID
270    chinese       12.0   35.0      1.5
298    chinese       16.0   57.0      4.0
299    chinese       10.0   42.0      3.3
447    chinese       21.0   55.0      3.2
396    chinese       23.0   77.0      3.8
441    chinese       21.0   62.0      3.5
453    chinese       23.0   63.0      2.8
491    chinese       23.0   71.0      3.3
492    chinese       17.0   58.0      3.8
634    chinese       21.0   59.0      3.5
813    chinese       27.0   65.0      3.5
967    chinese       26.0   67.0      4.3
971    chinese       26.0   60.0      3.6
975    chinese       12.0   62.0      4.3
998    chinese       21.0   63.0      3.3
1187   chinese       24.0   60.0      3.5
1199   chinese       22.0   64.0      3.8
306     korean       18.0   46.0      2.6
307     korean       27.0   48.0      3.0
371     korean       24.0   72.0      3.0

In [7]:
print(len(aj))
print(len(ajnoNaN))

71
66

Here we see that there were only participants that did not take all three proficiency scores.
Let's imagine that we are interested in a particular data set, such as those who score below a 20 in the listening scores.
This can be especially useful when trying to trim down the data set that you are looking for, such as, maybe elementary level listening.`

In [15]:
aj20 = ajnoNaN[ajnoNaN.Listening < 20]
aj20.head(20)

            L1  Listening  MTELP  Writing
DB ID
270    chinese       12.0   35.0      1.5
298    chinese       16.0   57.0      4.0
299    chinese       10.0   42.0      3.3
492    chinese       17.0   58.0      3.8
975    chinese       12.0   62.0      4.3
306     korean       18.0   46.0      2.6
433     korean       19.0   46.0      3.8
444     korean       16.0   70.0      2.5
579     korean       12.0   44.0      2.0
582     korean       17.0   58.0      2.3
969     korean       17.0   44.0      1.5
1017    korean       12.0   66.0      3.8
1079    korean       19.0   64.0      4.0
159     arabic       15.0   48.0      3.0
163     arabic       11.0   60.0      2.0
172     arabic       13.0   47.0      2.3
310     arabic       18.0   48.0      3.0
352     arabic       15.0   45.0      2.5
407     arabic       13.0   48.0      2.2
716     arabic       19.0   48.0      3.4

In [16]:
print(len(aj20))

33

Now we have a relatively nice data set that we can focus on (: