# 50 Years of Pop Music: A Lyrical Analysis

- Class activity 3, 9/12/2017 
- Data courtesy of Kaylin Walker: http://kaylinwalker.com/50-years-of-pop-music/

## (1) Read in the spreadsheet file as a DataFrame
- Create a DataFrame called `songs` from the spreadsheet. 
- You will likely run into an encoding error. Who can figure out the correct encoding? 
- Once successfully loaded, explore the DF. Use the following methods: `.head()`, `.tail()`, `.info()`, `.describe()`. 
- What are the column labels and row indexes?
- How to improve organization?

In [11]:
import pandas as pd

pop = pd.read_csv('/Users/Paige/Desktop/billboard_lyrics_1964-2015.csv', encoding='ISO8859')

#How to find the encoding of a file?
#file billboard_lyrics_1964-2015.csv in command line

pop.head() #.head shows you the first 5 entries

pop.head(20) #shows you the first 20

pop.tail() #.tail shows you the last 5 entries

pop.info() #Note: Pandas stores strings in other memory locations as objects and puts a pointer to it

pop.describe() #displays count, mean, std, min, 25%, 50%, 75%, max for columns with numerical data

pop.head(20) #Indices are default integers

pop.loc[:][pop.Artist == 'one direction'] #Here are 5 One Direction songs in the top 100 because we are all really big 1D fans.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5100 entries, 0 to 5099
Data columns (total 6 columns):
Rank      5100 non-null int64
Song      5100 non-null object
Artist    5100 non-null object
Year      5100 non-null int64
Lyrics    4913 non-null object
Source    4913 non-null float64
dtypes: float64(1), int64(2), object(3)
memory usage: 239.1+ KB

,Rank,Song,Artist,Year,Lyrics,Source
4709,10,what makes you beautiful,one direction,2012,youre insecure dont know what for youre turni...,1.0
4873,74,best song ever,one direction,2013,maybe its the way she walked wow straight int...,1.0
4923,24,story of my life,one direction,2014,verse 1 harry written in these walls are the...,1.0
5064,65,drag me down,one direction,2015,ive got fire for a heart im not scared of the...,1.0
5097,98,night changes,one direction,2015,going out tonight changes into something red ...,1.0

## (2) Reorganize and clean up
- Rearrange the columns so that they are ordered: Year - Rank - Artist - Song - Lyrics. 
- Get rid of Source column. 
- What about the index?

In [22]:
pop = pop[['Year', 'Rank', 'Artist', 'Song', 'Lyrics']] #Need double brackets, cause if you use one, a Pandas series is returned
type(pop)
pop.head()

,Year,Rank,Artist,Song,Lyrics
0,1965,1,sam the sham and the pharaohs,wooly bully,sam the sham miscellaneous wooly bully wooly b...
1,1965,2,four tops,i cant help myself sugar pie honey bunch,sugar pie honey bunch you know that i love yo...
2,1965,3,the rolling stones,i cant get no satisfaction,
3,1965,4,we five,you were on my mind,when i woke up this morning you were on my mi...
4,1965,5,the righteous brothers,youve lost that lovin feelin,you never close your eyes anymore when i kiss...

In [23]:
type(pop['Artist']) #A single column is a series!

pandas.core.series.Series

## (3) Sanity check
- Is the data complete? 
  - Are there really 50 years represented?
  - Does every year have all 100 entries? 
- Any missing or anomalous data? How to address them?

In [ ]:
# Your code here

## (4) Accessing routines
- How to get songs from year 1965 vs. songs from year 2015?
- How to get number-1 hits only?
- How to get Madonna songs only?
- Madonna songs that are top 10? Year 2000 or later?

In [ ]:
# Your code here

## (5) Who are top artists?
- How many artists are represented?
- Which artists produced most hits?
- How many artists are one-hit wonders?

In [ ]:
# Your code here

## (6) Create another column: lyric length in word count
- All symbols have been removed from lyrics
- So, `.split()` works as a rudimentary tokenizer

In [ ]:
# Your code here

## (7) Filling in missing values
- We really need to take care of the missing lyric values. 
- What are good strategies? Considerations?

In [ ]:
# Your code here

## (8) A detour: text processing basics
- NLTK functions
- How to word-tokenize
- How to sentence-tokenize
- Frequency distribution
- Type-token ratio

In [ ]:
# Your code here

## (9) 50 years apart: songs from 1965 vs. 2015
- Let's create two corpora of 1965 lyrics vs. 2015 lyrics
- Good ways to highlight differences?

In [ ]:
# Your code here

## (10) A different take: multi-level index
- Alternative organization: use year-and-rank combination as index 
- Create a copy of `songs` as `songs2` DataFrame
- How does accessing work in this DF?

In [ ]:
# Your code here

## (11) Discussion: data curation method, presentation
- How did Walker collect her song lyrics data?
- What tools did she use?
- How successful was her effort?
- How did she present her work, and what are your thoughts?

Your notes here in markdown